<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100vh;
        width: 100vh;

      }
    </style>
</head>
<body>
  <p>Conectado com sucesso</p>
</body>
</html>